<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |msg| %>
    <div><%= msg %></div>
  <% end %>
<% end %>


<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email, placeholder: 'example@email.com' %>
  </div>
  
  <div>
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <%= form.submit %>
<% end %>