<!-- <form action="/users" method="post" accept-charset="UTF-8" class="">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" name="user[email]">
  </div>

  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="user[username]">
  </div>
  
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="user[password]">
  </div>
  
  <button type="submit" class="">Submit</button>
</form> 
<%= form_tag('/users', method: :post) do %>
  <div>
    <%= label_tag 'user[email]', 'Email:' %>
    <%= email_field_tag 'user[email]' %>
  </div>

  <div>
    <%= label_tag 'user[username]', 'Username:' %>
    <%= text_field_tag 'user[username]' %>
  </div>

  <div>
    <%= label_tag 'user[password]', 'Password:' %>
    <%= password_field_tag 'user[password]' %>
  </div>
  
  <%= submit_tag 'Submit' %>
<% end %>
-->

<%= form_with model: User.new do |form| %>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email, placeholder: 'example@email.com' %>
  </div>
  
  <div>
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <%= form.submit %>
<% end %>
